@tailwind base;
@tailwind components;
@tailwind utilities;

/* FOR STORYBOOK */
@font-face {
	font-family: "Forum";
	src:
		url("/fonts/forum/Forum-Regular.woff2") format("woff2"),
		url("/fonts/forum/Forum-Regular.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
* available axes: 'wght' (range from 300.0 to 900.0
*/
@font-face {
	font-family: "Satoshi Variable";
	src:
		url("/fonts/satoshi/Satoshi-Variable.woff2") format("woff2"),
		url("/fonts/satoshi/Satoshi-Variable.woff") format("woff"),
		url("/fonts/satoshi/Satoshi-Variable.ttf") format("truetype");
	font-weight: 300 900;
	font-display: swap;
	font-style: normal;
}

/* Defaults set using tailwind classes */
@layer base {
	:root {
		--font-forum: "Forum";
		--font-satoshiVariable: "Satoshi Variable";
		--radius: 0.5rem;
	}
	body {
		@apply text-gold-light font-satoshiVariable;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
